 .container {
    float: left;
    margin: 0 10px;
}

.video {
    width: 300px;
    height: 200px;
}

.main {
    float: left;
}

.player {
    width: 920px;
    height: 400px;
}

.side_container {
    margin-left: 40px;
}

.related_video_container {
    margin-top: 100px;
    width: 100%;
}

.trending_video_container {
    float: left;
}